/Java/Clase6/ProyectoCaja/build/
/Java/Clase6/ProyectoCaja/nbproject/private/
/Java/nbproject/private/
/Java/Clase8/nbproject/private/
/Java/Clase8/Encapsulamiento/Encapsulamiento/nbproject/private/
/Java/Clase8/Encapsulamiento/nbproject/private/
/Java/Clase8/Encapsulamiento/build/
/Java/Clase8/ContextoEstatico/nbproject/private/
/Java/Clase8/ContextoEstatico/build/
/ProyectoFinalSemestre2/nbproject/private/
/ProyectoFinalSemestre2/build/
